@model IEnumerable<GAMF_N.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="col-md-4">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Keresés</legend>
        <form asp-action="Index">
            <div class="form-group">
                <input name="SearchString" class="form-control" 
                placeholder="Név vagy tárgy részlet"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Keresés" class="btn btn-default"/>
            </div>
        </form>
    </fieldset>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
            <a asp-controller="Enrollments" 
                asp-action="Index"
                asp-route-sortOrder="@ViewBag.CourseSortParam">Tantárgy</a>
            </th>
            <th>
                <a asp-controller="Enrollments"
                   asp-action="Index"
                   asp-route-sortOrder="@ViewBag.NameSortParam">Tanuló neve</a>
            </th>
            <th>
                Jegy
            </th>
         </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Course.Title
                </td>
                <td>
                    @item.Students.LastName
                </td>
                <td>
                    @item.Grade
                </td>
            </tr>
        }
    </tbody>
</table>
